<div class="forumsearch px-md-15">
    <form action="{{actionurl}}" class="form-inline">
        <input type="hidden" name="id" value="{{courseid}}">
        <div class="form-group">
            {{#helpicon}}
                {{>core/help_icon}}
            {{/helpicon}}
            <label class="sr-only" for="search">{{#str}}search, forum{{/str}}</label>
            <input id="search" name="search" type="text" class="form-control" value="{{query}}">
            <button class="btn btn-secondary" id="searchforums" type="submit">{{#str}}searchforums, mod_forum{{/str}}</button>
        </div>
    </form>
</div>
